### PRINT function

In [1]:
print("maddythebeast - BEAST MUST BE WAKEN!")

maddythebeast - BEAST MUST BE WAKEN!

In [1]:
print("Print function testing in Jupyter notebook!!!")

Print function testing in Jupyter notebook!!!

In [2]:
print("Revising again python Zero to Hero!")

Revising again python Zero to Hero!

### whilel loop

In [4]:
# While loop testing
error = 50.0

while error > 1 :
    error = error / 4
    print(error)

12.5
3.125
0.78125

### for loop

In [3]:
# for loop with lists

areas = [11.25, 18.0, 20.0, 10.75, 9.50]

for area in areas :
    print(area)

11.25
18.0
20.0
10.75
9.5

In [5]:
# for loop - printing the list with index

areas = [11.25, 18.0, 20.0, 10.75, 9.50]

for index, area in enumerate(areas) :
    print("room " + str(index) + ": " + str(area))

room 0: 11.25
room 1: 18.0
room 2: 20.0
room 3: 10.75
room 4: 9.5

In [4]:
# for loop - list of lists

house = [["hallway", 11.25], 
         ["kitchen", 18.0], 
         ["living room", 20.0], 
         ["bedroom", 10.75], 
         ["bathroom", 9.50],
        ["storeroom", 6.70]]
         
# Build a for loop from scratch
for x in house :
    print("the " + x[0] + " is " + str(x[1]) + " sqm")

the hallway is 11.25 sqm
the kitchen is 18.0 sqm
the living room is 20.0 sqm
the bedroom is 10.75 sqm
the bathroom is 9.5 sqm
the storeroom is 6.7 sqm

In [4]:
# for loop with Dictionaries - Use "items" method my_dict.items()

# Definition of dictionary
europe = {'spain':'madrid', 'france':'paris', 'germany':'berlin',
          'norway':'oslo', 'italy':'rome', 'poland':'warsaw', 'austria':'vienna' }
          
# Iterate over europe (using key, value - it can be any name ex: k, v)
for x, y in europe.items() :
    print("the capital of " + x + " is " + y)

the capital of spain is madrid
the capital of france is paris
the capital of germany is berlin
the capital of norway is oslo
the capital of italy is rome
the capital of poland is warsaw
the capital of austria is vienna

In [13]:
# for loop with Numpy Array - Use function from Numpy np.nditer(2d_np_array)

import numpy as np

np_height = np.array([1.73, 1.68, 1.71, 1.89, 1.79])
np_weight = np.array([65.4, 59.2, 63.6, 88.4, 68.7])

# For loop over np_height
for x in np.nditer(np_height) :
    print("height is " + str(x) + " inches")

# For loop over np_baseball
#for y in np.nditer(np_baseball) :
#    print(y)

height is 1.73 inches
height is 1.68 inches
height is 1.71 inches
height is 1.89 inches
height is 1.79 inches

In [2]:
# for loop with DataFrame - Use default for loop

import pandas as pd
brics = pd.read_csv("C:/Users/Neu/Documents/GitHub/Python/Practice-2024/Datasets/brics.csv", index_col=0)
for val in brics :
    print(val)

country
capital
area
population

In [1]:
# for loop with DataFrame - Using "iterrows" method generates laebl and row for each iteration

import pandas as pd
brics = pd.read_csv("C:/Users/Neu/Documents/GitHub/Python/Practice-2024/Datasets/brics.csv", index_col=0)
for label, row in brics.iterrows() :
    print(label)
    print(row)

BR
country         Brazil
capital       Brasilia
area             8.516
population       200.4
Name: BR, dtype: object
RU
country       Russia
capital       Moscow
area            17.1
population     143.5
Name: RU, dtype: object
IN
country           India
capital       New Delhi
area              3.286
population       1252.0
Name: IN, dtype: object
CH
country         China
capital       Beijing
area            9.597
population     1357.0
Name: CH, dtype: object
SA
country       South Africa
capital           Pretoria
area                 1.221
population           52.98
Name: SA, dtype: object
nan
country       NaN
capital       NaN
area          NaN
population    NaN
Name: nan, dtype: object

In [2]:
# for loop with DataFrame - To print "selectively"

import pandas as pd
brics = pd.read_csv("C:/Users/Neu/Documents/GitHub/Python/Practice-2024/Datasets/brics.csv", index_col=0)

for label, row in brics.iterrows() :
    print(label + ": " + row["capital"])

BR: Brasilia
RU: Moscow
IN: New Delhi
CH: Beijing
SA: Pretoria

TypeError: unsupported operand type(s) for +: 'float' and 'str'

In [26]:
# for loop with DataFrame - Adding New Columns in a DF

import pandas as pd
brics = pd.read_csv("C:/Users/Neu/Documents/GitHub/Python/Practice-2024/Datasets/brics.csv", index_col=0)

for label, row in brics.iterrows() :
    #creating Series on every iteration
    brics.loc[label, "name_length"] = len(row["capital"])
    print(brics)

          country    capital    area  population  name_length
BR         Brazil   Brasilia   8.516      200.40          8.0
RU         Russia     Moscow  17.100      143.50          NaN
IN          India  New Delhi   3.286     1252.00          NaN
CH          China    Beijing   9.597     1357.00          NaN
SA   South Africa   Pretoria   1.221       52.98          NaN
NaN           NaN        NaN     NaN         NaN          NaN
          country    capital    area  population  name_length
BR         Brazil   Brasilia   8.516      200.40          8.0
RU         Russia     Moscow  17.100      143.50          6.0
IN          India  New Delhi   3.286     1252.00          NaN
CH          China    Beijing   9.597     1357.00          NaN
SA   South Africa   Pretoria   1.221       52.98          NaN
NaN           NaN        NaN     NaN         NaN          NaN
          country    capital    area  population  name_length
BR         Brazil   Brasilia   8.516      200.40          8.0
RU         Russia     Moscow  17.100      143.50          6.0
IN          India  New Delhi   3.286     1252.00          9.0
CH          China    Beijing   9.597     1357.00          NaN
SA   South Africa   Pretoria   1.221       52.98          NaN
NaN           NaN        NaN     NaN         NaN          NaN
          country    capital    area  population  name_length
BR         Brazil   Brasilia   8.516      200.40          8.0
RU         Russia     Moscow  17.100      143.50          6.0
IN          India  New Delhi   3.286     1252.00          9.0
CH          China    Beijing   9.597     1357.00          7.0
SA   South Africa   Pretoria   1.221       52.98          NaN
NaN           NaN        NaN     NaN         NaN          NaN
          country    capital    area  population  name_length
BR         Brazil   Brasilia   8.516      200.40          8.0
RU         Russia     Moscow  17.100      143.50          6.0
IN          India  New Delhi   3.286     1252.00          9.0
CH          China    Beijing   9.597     1357.00          7.0
SA   South Africa   Pretoria   1.221       52.98          8.0
NaN           NaN        NaN     NaN         NaN          NaN

TypeError: object of type 'float' has no len()

In [30]:
# for loop with DataFrame - Using "apply" function to calculate a column values in a DF - no need for loop

#import pandas as pd
#brics = pd.read_csv("C:/Users/Neu/Documents/GitHub/Python/Practice-2024/Datasets/brics.csv", index_col=0)

#brics["name_length"] = brics["country"].apply(len)
#print(brics)

### VARIABLES

In [5]:
# Variables - stores values

x = 632
y = 965
z = x + y
z

1597

## Dictionaries

In [8]:
#Creating Dictionaries

# Definition of countries and capital
countries = ['spain', 'france', 'germany', 'norway']
capitals = ['madrid', 'paris', 'berlin', 'oslo']

# From string in countries and capitals, create dictionary europe
europe = {'spain':'madrid', 'france':'paris', 'germany':'berlin', 'norway':'oslo'}

# Print europe
print(europe)

{'spain': 'madrid', 'france': 'paris', 'germany': 'berlin', 'norway': 'oslo'}

In [9]:
# Accessing Dictionaries

# Definition of dictionary
europe = {'spain':'madrid', 'france':'paris', 'germany':'berlin', 'norway':'oslo' }

# Print out the keys in europe
print(europe.keys())

# Print out value that belongs to key 'norway'
print(europe['norway'])

dict_keys(['spain', 'france', 'germany', 'norway'])
oslo