### PRINT function

In [3]:
print("maddythebeast")

maddythebeast

In [5]:
print("Print function testing in Jupyter!!!")

Print function testing in Jupyter!!!

In [6]:
print("Learning Python Zero to Hero !!!")

Learning Python Zero to Hero !!!

### whilelLoop

In [2]:
# While loop testing

error = 50.0

while error > 1 :
    error = error / 4
    print(error)

12.5
3.125
0.78125

### for loop

In [3]:
# for loop with lists

areas = [11.25, 18.0, 20.0, 10.75, 9.50]

for area in areas :
    print(area)

11.25
18.0
20.0
10.75
9.5

In [5]:
# for loop - printing the list with index

areas = [11.25, 18.0, 20.0, 10.75, 9.50]

for index, area in enumerate(areas) :
    print("room " + str(index) + ": " + str(area))

room 0: 11.25
room 1: 18.0
room 2: 20.0
room 3: 10.75
room 4: 9.5

In [6]:
# for loop - list of lists
house = [["hallway", 11.25], 
         ["kitchen", 18.0], 
         ["living room", 20.0], 
         ["bedroom", 10.75], 
         ["bathroom", 9.50]]
         
# Build a for loop from scratch
for x in house :
    print("the " + x[0] + " is " + str(x[1]) + " sqm")

the hallway is 11.25 sqm
the kitchen is 18.0 sqm
the living room is 20.0 sqm
the bedroom is 10.75 sqm
the bathroom is 9.5 sqm

### VARIABLES

In [1]:
###

## Dictionaries

In [8]:
#Creating Dictionaries

# Definition of countries and capital
countries = ['spain', 'france', 'germany', 'norway']
capitals = ['madrid', 'paris', 'berlin', 'oslo']

# From string in countries and capitals, create dictionary europe
europe = {'spain':'madrid', 'france':'paris', 'germany':'berlin', 'norway':'oslo'}

# Print europe
print(europe)

{'spain': 'madrid', 'france': 'paris', 'germany': 'berlin', 'norway': 'oslo'}

In [9]:
# Accessing Dictionaries

# Definition of dictionary
europe = {'spain':'madrid', 'france':'paris', 'germany':'berlin', 'norway':'oslo' }

# Print out the keys in europe
print(europe.keys())

# Print out value that belongs to key 'norway'
print(europe['norway'])

dict_keys(['spain', 'france', 'germany', 'norway'])
oslo