# Data Manipulation

## Pandas

In [5]:
# Import Pandas

import pandas as pd
brics = pd.read_csv("C:/Users/Neu/Documents/GitHub/Python/Practice-2024/Datasets/brics.csv", index_col=0)

brics

          country    capital    area  population
BR         Brazil   Brasilia   8.516      200.40
RU         Russia     Moscow  17.100      143.50
IN          India  New Delhi   3.286     1252.00
CH          China    Beijing   9.597     1357.00
SA   South Africa   Pretoria   1.221       52.98
NaN           NaN        NaN     NaN         NaN

## Goal
### Selecting the countries with area over 8 million Km2
#### Using comparison, boolean operators with pandas Series & DataFrame
##### 3-Steps
    1) Select the area column
    2) Comparison on area column
    3) Use result to select countries

#### Step 1: Get Column

In [7]:
#pandas series
brics["area"]

BR      8.516
RU     17.100
IN      3.286
CH      9.597
SA      1.221
NaN       NaN
Name: area, dtype: float64

#### Step 2: Compare

In [14]:
brics["area"] > 8

BR      True
RU      True
IN     False
CH      True
SA     False
NaN    False
Name: area, dtype: bool

In [16]:
is_huge = brics["area"] > 8

#### Step 3: Subset DF

In [17]:
brics[is_huge]

   country   capital    area  population
BR  Brazil  Brasilia   8.516       200.4
RU  Russia    Moscow  17.100       143.5
CH   China   Beijing   9.597      1357.0

#### Summary

In [18]:
brics[brics["area"] > 8]

   country   capital    area  population
BR  Brazil  Brasilia   8.516       200.4
RU  Russia    Moscow  17.100       143.5
CH   China   Beijing   9.597      1357.0

### Boolean

In [19]:
import numpy as np

np.logical_and(brics["area"] > 8, brics["area"] < 10)

BR      True
RU     False
IN     False
CH      True
SA     False
NaN    False
Name: area, dtype: bool

In [21]:
# Subset

brics[np.logical_and(brics["area"] > 8, brics["area"] < 10)]

   country   capital   area  population
BR  Brazil  Brasilia  8.516       200.4
CH   China   Beijing  9.597      1357.0